/* Add your CSS Code here */



.padding{
	padding-top: 87px;
}


.row-centered {
    text-align:center;
}



.fixed{
	width: 560px	;	
	height : 445px ;
}

.left{
    text-align: left;
}

.big{
	font-size: 20px
}