<DOCTYPE! html>

<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		  <!-- Latest compiled and minified CSS --> 
		  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
		  <!-- jQuery library --> 
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
		  <!-- Latest compiled JavaScript --> 
		  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/styles.css') }}">
	</head>

	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{{url_for('home')}}">Nadi Home Page</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
		      <li><a href="{{url_for('riders')}}">Riders</a></li>
		      <li><a href="{{url_for('horses')}}">Horses</a></li>
		      <li><a href="{{url_for('score') }}">Score</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-2"> </div>
				<div class="col-md-8">
					hellooooooo
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel" data-slide-to="1" ></li>
					    <li data-target="#myCarousel" data-slide-to="2" ></li>
					  </ol>	
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <img src="{{url_for('static' , filename='Images/hors pic 2.jpg') }}" alt="Chania">
					      <div class="carousel-caption">
					        <h3>Chania</h3>
					        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
					      </div>
					    </div>

					    <div class="item">
					      <img src="{{url_for('static' , filename='Images/horse pic 3.jpg') }}" alt="Chania">
					      <div class="carousel-caption">
					        <h3>Chania</h3>
					        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
					      </div>
					    </div>

					    <div class="item">
					      <img src="{{url_for('static' , filename='Images/horse pic 2.jpg') }}" alt="Flower">
					      <div class="carousel-caption">
					        <h3>Flowers</h3>
					        <p>Beatiful flowers in Kolymbari, Crete.</p>
					      </div>
					    </div>

					  <!-- Left and right controls -->
					  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>


		
	</body>
</html>
